.footer {
    background-color: $bg-dark;
    padding: $padding-sm;
    @include tablet {
        display: flex;
        justify-content: center;
    }
    
    &__title {
        font-family: 'shrikhand';
        letter-spacing: 1.25px;
        padding-bottom: 1rem;
        color: white;
        font-size: 1.5rem;
    }

    &__text {
        font-size: 1rem;
        &--link {
            padding-left: .5rem;
            color: white;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        color: white;
        &--block {
            display: block;
            color: white;
        }
        &--icon {
            font-size: .7rem;
        }
    }
}