.header-menu {
    padding: .75rem 2rem;
    position: relative;
    background-color: white;

    &__arrow {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50% , -50%);
    }

    &__title {
       text-align: center;
    }
}