.header-menu {
    padding: .75rem 2rem;
    position: relative;
    background-color: white;
    @include tablet {
        background-color: rgba(255, 255, 255, 0.7);
        margin-bottom: 7rem;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50% , -50%);
    }

    &__title {
       text-align: center;
    }
}