.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    &__logo {
        box-shadow: $b-shadow;
        width: 100%;
        text-align: center;
        padding: 1rem 0 0.5rem 0;
        z-index: 2;
        @include tablet {
            box-shadow: none;
            text-align: left;
        }
    }
    @include tablet {
        flex-direction: row;
        padding: 0 10%;
        box-shadow: $b-shadow;
    }
}
.search {
    display: flex;
    justify-content: center;
    width: 100%;
    @include tablet {
        text-align: right;
        width: 15rem;
        padding: 1rem 0;
    }
    
    .search-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        background-color: $bg-medium;
        @include tablet {
            border-radius: $brad-sm;
        }
        
        &__input {
            font-size: 1rem;
            padding: 1rem 0 1rem .5rem;
            border: none;
            outline: none;
            background-color: transparent;
        }

        &__icon {
            font-size: 1.25rem;
            padding-left: 5rem;
            @include tablet {
                padding-left: 5rem;
                padding-right: 1rem;
                
            }
        }
    }
}
#search::placeholder {
    color: $text-color;
}
