*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
}

.main-background {
  background-color: #f1f1f1;
  padding-bottom: 3rem;
}

.container-menu {
  position: relative;
  z-index: 5;
  margin-top: -3rem;
  padding: 2rem 1rem;
  background: #f1f1f1;
  border-radius: 2rem 2rem 0 0;
  color: #202020;
}
@media screen and (min-width: 768px) {
  .container-menu {
    width: 80%;
    border-radius: 2rem;
    margin: -6rem auto 5rem auto;
    padding: 2rem 3rem;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: appear 1.5s;
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

a {
  text-decoration: none;
  color: #202020;
  cursor: pointer;
}

ul {
  list-style: none;
}

span {
  display: block;
}

body {
  font-family: "Roboto";
  color: #202020;
}

h1 {
  font-family: "Shrikhand";
  font-size: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__logo {
  font-family: "Shrikhand";
  font-size: 2rem;
  box-shadow: 2px 5px 10px 1px rgba(63, 28, 28, 0.2);
  width: 100%;
  text-align: center;
  padding: 1rem 0 0.5rem 0;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .header__logo {
    box-shadow: none;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 0 10%;
    box-shadow: 2px 5px 10px 1px rgba(63, 28, 28, 0.2);
  }
}

.search {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .search {
    text-align: right;
    width: 10rem;
  }
}
.search .search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #dfdfdf;
}
@media screen and (min-width: 768px) {
  .search .search-form {
    border-radius: 10px;
  }
}
.search .search-form__input {
  font-size: 0.75rem;
  padding: 0.75rem 0 0.75rem 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .search .search-form__input {
    width: 9rem;
    padding: 0.5rem 0;
  }
}
.search .search-form__icon {
  font-size: 0.75rem;
  padding-left: 5rem;
}
@media screen and (min-width: 768px) {
  .search .search-form__icon {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
}

#search::placeholder {
  color: #202020;
}

.footer {
  background-color: #3a3a3a;
  padding: 3rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
  }
}
.footer__title {
  font-family: "shrikhand";
  letter-spacing: 1.25px;
  padding-bottom: 1rem;
  color: white;
  font-size: 1.5rem;
}
.footer__text {
  font-size: 1rem;
}
.footer__text--link {
  padding-left: 0.5rem;
  color: white;
}
.footer__link {
  display: flex;
  align-items: center;
  color: white;
}
.footer__link--block {
  display: block;
  color: white;
}
.footer__link--icon {
  font-size: 0.7rem;
}

.header-menu {
  padding: 0.75rem 2rem;
  position: relative;
  background-color: white;
}
.header-menu__arrow {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.header-menu__title {
  text-align: center;
}

.loader-container {
  position: fixed;
  z-index: 50;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 0.3s ease-in-out 3s forwards;
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.loader-container .loader-list {
  display: flex;
}
.loader-container .loader-list__item {
  display: inline-block;
  font-family: "shrikhand";
  font-size: 2rem;
  letter-spacing: 0.5rem;
  color: #9356DC;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  animation: flash 0.5s linear infinite alternate;
}
.loader-container .loader-list__item:nth-child(odd) {
  color: #FF79DA;
}
@keyframes flash {
  100% {
    transform: translateY(-65%);
  }
}
.loader-container .loader-list__item:nth-child(1) {
  animation-delay: 0s;
}
.loader-container .loader-list__item:nth-child(2) {
  animation-delay: 0.1s;
}
.loader-container .loader-list__item:nth-child(3) {
  animation-delay: 0.2s;
}
.loader-container .loader-list__item:nth-child(4) {
  animation-delay: 0.3s;
}
.loader-container .loader-list__item:nth-child(5) {
  animation-delay: 0.4s;
}
.loader-container .loader-list__item:nth-child(6) {
  animation-delay: 0.5s;
}
.loader-container .loader-list__item:nth-child(7) {
  animation-delay: 0.6s;
}
.loader-container .loader-list__item:nth-child(8) {
  animation-delay: 0.7s;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1.5rem;
  text-align: center;
  background-color: #f1f1f1;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 5rem 1.5rem;
  }
}
.hero__title {
  font-family: "Roboto";
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 2rem;
  }
}
.hero__text {
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 1.5rem;
    width: 500px;
  }
}

.functioning {
  padding: 3rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .functioning__title {
    padding-bottom: 2rem;
    text-align: center;
  }
}
.functioning__content {
  counter-reset: listCounter;
}
@media screen and (min-width: 768px) {
  .functioning__content {
    display: flex;
    justify-content: space-between;
  }
}

.grid {
  padding: 3rem 1.5rem;
  background-color: #f1f1f1;
}
.grid__title {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .grid__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    margin: 2rem auto;
  }
}

.hero-menu__img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .hero-menu__img {
    height: 50vh;
  }
}

.restaurant-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  position: relative;
}
.restaurant-name__title {
  font-family: "Shrikhand";
  letter-spacing: 1.5px;
}
.restaurant-name__icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.restaurant-name__icon--bold {
  position: absolute;
  right: 1.5rem;
  background-image: linear-gradient(350deg, #90849e 0%, #ff79da 100%);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.restaurant-name__icon--bold:hover {
  opacity: 1;
  transform: scale(1.1);
}

.content-menu__title {
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  margin: 2rem 0;
}
@media screen and (min-width: 768px) {
  .content-menu__title {
    font-size: 1.25rem;
  }
}
.content-menu__title::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 0.15rem;
  background-color: #99E2D0;
  bottom: -0.25rem;
  left: 0;
}

.list-menu {
  margin-bottom: 2rem;
}
.list-menu .list-menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 5px 10px 1px rgba(63, 28, 28, 0.2);
  overflow: hidden;
  cursor: pointer;
  animation: opacity 1s ease-in-out both;
}
.list-menu .list-menuItem:hover .list-menuItem-anim {
  width: 5rem;
}
@media screen and (min-width: 768px) {
  .list-menu .list-menuItem:hover .list-menuItem-anim {
    width: 8rem;
  }
}
.list-menu .list-menuItem:hover .list-menuItem-anim__icon {
  transform: rotate(360deg);
  transition: 0.3s ease-in-out;
  visibility: visible;
}
@keyframes opacity {
  0% {
    opacity: 0;
    transform: translatey(100%);
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .list-menu .list-menuItem {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
.list-menu .list-menuItem .list-menuItem-main {
  padding: 0 0.75rem;
  flex: 1;
  overflow: hidden;
}
.list-menu .list-menuItem .list-menuItem-main__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 0.25rem;
}
@media screen and (min-width: 768px) {
  .list-menu .list-menuItem .list-menuItem-main__title {
    font-size: 1.25rem;
  }
}
.list-menu .list-menuItem .list-menuItem-main__text {
  display: flex;
  justify-content: space-between;
}
.list-menu .list-menuItem .list-menuItem-main__text--sm {
  font-size: 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .list-menu .list-menuItem .list-menuItem-main__text--sm {
    font-size: 1rem;
  }
}
.list-menu .list-menuItem .list-menuItem-main__text--price {
  font-weight: 700;
  padding-left: 0.75rem;
}
.list-menu .list-menuItem .list-menuItem-anim {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 0;
  height: 5rem;
  transition: width 0.3s ease-in-out;
}
.list-menu .list-menuItem .list-menuItem-anim__icon {
  font-size: 1.5rem;
  color: white;
  transform: rotate(-180deg);
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.list-menu .list-menuItem:nth-child(1) {
  animation-delay: 0.2s;
}
.list-menu .list-menuItem:nth-child(2) {
  animation-delay: 0.3s;
}
.list-menu .list-menuItem:nth-child(3) {
  animation-delay: 0.4s;
}

.cto {
  text-align: center;
  padding: 1rem 0 3rem 0;
}
@media screen and (min-width: 768px) {
  .cto {
    padding: 1rem;
  }
}

.btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 0.75rem 1rem;
  background: linear-gradient(350deg, #90849e 0%, #ff79da 100%);
  border-radius: 999px;
  box-shadow: 2px 5px 10px 1px rgba(63, 28, 28, 0.2);
  color: #fff;
}
@media screen and (min-width: 768px) {
  .btn {
    padding: 1.25rem 1.25rem;
  }
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
  border-radius: 999px;
  box-shadow: 2px 5px 10px 1px rgba(63, 28, 28, 0.2);
}

.btn-command {
  font-size: 1.25rem;
  border: none;
  padding: 1rem 2.5em;
}

.functioning-card {
  display: flex;
  padding: 1.5rem;
  margin: 2rem 0;
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 2px 5px 10px 1px rgba(63, 28, 28, 0.2);
  position: relative;
}
@media screen and (min-width: 768px) {
  .functioning-card {
    justify-content: center;
  }
}
.functioning-card::before {
  position: absolute;
  top: 1.3rem;
  left: -0.75rem;
  counter-increment: listCounter;
  content: counter(listCounter) "";
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .functioning-card::before {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 3rem;
  }
}
.functioning-card__icon {
  padding-left: 0.75rem;
  font-size: 1.5rem;
}
.functioning-card__icon--pink {
  color: #9356DC;
}
.functioning-card__text {
  padding-left: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .functioning-card {
    width: 29%;
    height: 15rem;
    display: flex;
    align-items: center;
  }
}

/* ----------- cartes restaurants ------------ */
.grid-item {
  border-radius: 20px;
  box-shadow: 2px 5px 10px 1px rgba(63, 28, 28, 0.2);
  margin: 2rem 0;
  position: relative;
  transition: transform 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .grid-item {
    min-width: 332px;
    min-height: 332px;
    margin: 0;
  }
}
.grid-item--new::before {
  position: absolute;
  content: "Nouveau";
  width: 5rem;
  height: 1.75rem;
  color: #137059;
  font-weight: 600;
  border-radius: 4px;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.75rem;
  right: 1rem;
}
.grid-item__img {
  width: 100%;
  object-fit: cover;
  height: 150px;
  border-radius: 20px 20px 0 0;
}
@media screen and (min-width: 768px) {
  .grid-item__img {
    min-height: 250px;
  }
}
.grid-item__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
}
.grid-item .caption-content__address {
  font-style: normal;
}
.grid-item .caption-icon {
  font-size: 1.5rem;
  position: relative;
  padding-right: 2px;
}
.grid-item .caption-icon--bold {
  font-size: 1.6rem;
  position: absolute;
  right: 0.95rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-image: linear-gradient(350deg, #90849e 0%, #ff79da 100%);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.3s ease-in-out;
}
.grid-item .caption-icon--bold::after {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 2rem;
  height: 2rem;
  background-color: #f1f1f1;
}
.grid-item .caption-icon--bold:hover {
  opacity: 1;
  transform: scale(1.1);
}
.grid-item .caption-icon--bold:hover::after {
  animation: scal 0.5s linear;
  transform: scaleY(0);
  transform-origin: top;
}
@keyframes scal {
  0% {
    transform: scaley(1);
  }
  100% {
    transform: scaley(0);
  }
}

/*# sourceMappingURL=style.css.map */
