.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-sm;
    text-align: center;
    background-color: $bg-light;
    @include tablet {
        padding: $padding-lg;
    }

    &__title {
        font-family: 'Roboto';
        font-size: $font-size-lg;
        padding-bottom: 1rem;
        @include tablet {
            font-size: $font-size-xl;
        }
    }

    &__text {
        padding-bottom: 2rem;
        @include tablet {
            font-size: $font-size-lg;
            width: 500px;
        }
    }
}

.functioning {
    padding: $padding-sm;
    max-width: 1200px;
    margin: 0 auto;

    &__title {
        @include tablet {
            padding-bottom: 2rem;
        }
    }

    &__content {
        counter-reset: listCounter;
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }
}

.grid {
    padding: $padding-sm;
    background-color: $bg-light;
}