.hero-menu {
    &__img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
        background-position: center center;
    }
}

.restaurant-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    position: relative;

    &__title {
        font-family: 'Shrikhand';
        letter-spacing: 1.5px;
    }

    &__icon {
        font-size: 1.5rem;
        cursor: pointer;
        
        &--bold {
            position: absolute;
            right: 1.5rem;
            color: $secondary;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            &:hover {
                opacity: 1;
                transform: scale(1.2);
                transition: opacity .3s ease-in-out;
            }
        }
    }
}

.content-menu {

    &__title {
        position: relative;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        margin: 2rem 0;
        @include tablet {
            font-size: 1.25rem;
        }
        
        &::after {
            content: '';
            position: absolute;
            width: 2.5rem;
            height: .15rem;
            background-color: $tertiary;
            bottom: -.25rem;
            left: 0;
        }
    }
}

.list-menu {
    margin-bottom: 2rem;

    .list-menuItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
        border-radius: $brad-sm;
        background-color: white;
        box-shadow: $b-shadow;
        overflow: hidden;
        cursor: pointer;
        animation: opacity 1s ease-in-out both;

        &:hover .list-menuItem-anim {
            width: 4rem;
            @include tablet {
                width: 7rem;
            }

            &__icon {
                transform: rotate(360deg);
                transition: 0.3s ease-in-out;
                visibility: visible;
            }
        }
    
        @keyframes opacity {
            0% {
                opacity: 0;
                transform: translatey(100%);
            }
            100% {
                opacity: 1;
            }
        }
    
        @include tablet {
            background-color: rgba(255, 255, 255, 0.7);
        }

        .list-menuItem-main {
            padding: 0 .75rem;
            flex: 1;
            overflow: hidden;

            &__title {
                padding-bottom: .25rem;
                @include tablet {
                    font-size: 1.25rem;
                }
            }

            &__text {
            display: flex;
            justify-content: space-between;
            
            &--sm {
                font-size: .8rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                @include tablet {
                    font-size: 1rem;
                }
                }

                &--price {
                font-weight: 700;
                }
            }

        }
            
        .list-menuItem-anim {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $tertiary;
            width: 0;
            height: 5rem;
            transition: width .3s ease-in-out;


            &__icon {
                font-size: 1.5rem;
                color: white;
                transform: rotate(-180deg);
                visibility: hidden;
                transition: .3s ease-in-out;
            }
        }
    }

    .list-menuItem:nth-child(1) {
        animation-delay: 0.2s;
    }
    .list-menuItem:nth-child(2) {
        animation-delay: 0.3s;
    }
    .list-menuItem:nth-child(3) {
        animation-delay: 0.4s;
    }
}


.cto {
    text-align: center;
    padding: 1rem 0 3rem 0;
    @include tablet {
        padding: 1rem;
    }
}