// colors
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$bg-light: #f1f1f1;
$bg-medium: #dfdfdf;
$bg-dark: #3a3a3a;

$text-color: rgb(32, 32, 32);

//font-size
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

// box shadow
$b-shadow: 0px 5px 10px rgba(58, 58, 58, .4);

// border raduis
$brad-sm: 10px;
$brad-lg: 20px;

// spacing

//responsive

$breakpoints: (
    tablet: 768px,
    desktop: 1024px
)
